* {
    margin: 0;
    padding: 0em;
    box-sizing: border-box;
    font-style: normal;   
}



#custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  pointer-events: none; /* Evita que interfiera con los clics */
  transform: translate(-50%, -50%); /* Centra el cursor personalizado */
}




/* VALORES PREDETERMINADOS */








body {
    color:#0000;
    background-color:#f4f4f4;
    overflow-x: hidden;
}

h1,h2 {
    color:#000000;
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
}

p {
    font-family: "Inconsolata", monospace;
    color:#000000;
}









/* MENU NO TOCAR NO ESTA TERMINADO*/









.navbar {
    background-color: #fefe79;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
}

.container-fluid {
    padding-left: 3rem;
}

.navbar-brand {
    font-size: 0.75rem;

}

.menu-collapse {
    padding-right: 6rem;
}

.menu .nav-item .nav-link {
    padding-right: 3rem;
    padding-left: 3rem;
    font-size: 0.75rem;
}










/* HEADER */










#header_home {
    width: 100%;
    height: 80vh;
    top: calc(-100vh + 3em);
    z-index: 1;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
}

header > p {
    font-size: 3em;
    color:#000000;
    text-align: center;
}






  

/* VIDEO PRESENTACIÓN */








h1 {
    font-size: 10em;
    text-align: center;
}

.start {
    color:#FEFE79;
}

.end {
    color: #000000;
}

.themes {
    text-align: center;
    padding: 2em;
}

.themes h5 {
    color: #000000;
    font-size: 7em;
    font-style: italic;
}




/* MISION, VISION, VALORES */










#informacion {
    margin: 2em;
    padding: 2em 4em;
}

.welcome {
    font-size: 2em;
    text-align: center;
}

.usinformation {
    padding: 2em;
    width: 80%;
}

.myrowitems {
    align-items: center;
    padding: 2em;
    margin-bottom: 2em;
}

.myrowitems h2{
    font-size: 3em;
}

.myrowitems p {
    font-size: 1em;
}











/* CARUSEL */

  
  .carousel {
    display: flex; /* Asegura que los items estén en una fila */
  }
  
  .carousel-item {
    flex: 0 0 auto; /* Impide que los elementos se ajusten */
    width: 100vw; /* Cada imagen ocupa todo el ancho de la pantalla */
    height: auto;
    scroll-snap-align: center; /* Cada ítem se ajusta al centro */
  }
  
  .carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px; /* Bordes redondeados si lo deseas */
  }

  .card-body {
    border-color: none;
  }








/* MARQUEE */

















  



  





/* TRABAJOS DESTACADOS */










.full-photo img, .grid-4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}


.square {
    width: 150px;
    height: 150px;
    background-color: #fe79ae;
}




/* FAQ */





#faq{
    padding: 2em;
    background-color: #FEFE79;
}

#faq h2{
    font-size: 3em;
}









/* Cards */















/* MEET US */






.meet_us {
    overflow-x: hidden;
}












/* FORMULARIO */

  


#applications {
    padding: 4em;
    padding-bottom: 1em;
    color: #000000;
}

#applications h3{
    font-size: 1.5em;
    font-weight: 100;
    padding-bottom: 1.5em;
}










/* FOOTER NO TOCAR NO ESTA TERMINADO */










.footer {
    background-color: #FEFE79;
    color: #fff;
    padding: 2rem 0;
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.footer h4 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #000000;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 0.5rem;
}

.footer-section ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 0.9rem;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    transition: color 0.3s ease;
    color: #ff2929;
}

.footer .social-links li {
    display: flex;
    align-items: center;
}

.footer .social-links li a {
    display: flex;
    align-items: center;
}

.footer .social-links li i {
    margin-right: 0.5rem;
    font-size: 1.2rem;
}

.footer-bottom {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.9rem;
    color: #000000;
}

.footer-bottom p {
    margin: 0;
}













/* MEDIA QUERY */






@media screen and (min-width: 769px) {
    .postcard {
      flex-wrap: inherit;
    }
    .postcard .postcard__title {
      font-size: 2rem;
    }
    .postcard .postcard__tagbox {
      justify-content: start;
    }
    .postcard .postcard__img {
      max-width: 300px;
      max-height: 100%;
      transition: transform 0.3s ease;
    }
    .postcard .postcard__text {
      padding: 3rem;
      width: 100%;
    }
    .postcard .media.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      background: #18151f;
      top: -20%;
      height: 130%;
      width: 55px;
    }
    .postcard:hover .postcard__img {
      transform: scale(1.1);
    }
    .postcard:nth-child(2n+1) {
      flex-direction: row;
    }
    .postcard:nth-child(2n+0) {
      flex-direction: row-reverse;
    }
    .postcard:nth-child(2n+1) .postcard__text::before {
      left: -12px !important;
      transform: rotate(4deg);
    }
    .postcard:nth-child(2n+0) .postcard__text::before {
      right: -12px !important;
      transform: rotate(-4deg);
    }
  }
  @media screen and (min-width: 1024px) {
    .postcard__text {
      padding: 2rem 3.5rem;
    }
  
    .postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      top: -20%;
      height: 130%;
      width: 55px;
    }
  
    .postcard.dark .postcard__text:before {
      background: #18151f;
    }
  
    .postcard.light .postcard__text:before {
      background: #e1e5ea;
    }
  }
  /* COLORS */
  .postcard .postcard__tagbox .green.play:hover {
    background: #79dd09;
    color: black;
  }
  
  .green .postcard__title:hover {
    color: #79dd09;
  }
  
  .green .postcard__bar {
    background-color: #79dd09;
  }
  
  .green::before {
    background-image: linear-gradient(-30deg, rgba(121, 221, 9, 0.1), transparent 50%);
  }
  
  .green:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(121, 221, 9, 0.1), transparent 50%);
  }
  
  .postcard .postcard__tagbox .blue.play:hover {
    background: #0076bd;
  }
  
  .blue .postcard__title:hover {
    color: #0076bd;
  }
  
  .blue .postcard__bar {
    background-color: #0076bd;
  }
  
  .blue::before {
    background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }
  
  .blue:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }
  
  .postcard .postcard__tagbox .red.play:hover {
    background: #bd150b;
  }
  
  .red .postcard__title:hover {
    color: #bd150b;
  }
  
  .red .postcard__bar {
    background-color: #bd150b;
  }
  
  .red::before {
    background-image: linear-gradient(-30deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }
  
  .red:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }
  
  .postcard .postcard__tagbox .yellow.play:hover {
    background: #bdbb49;
    color: black;
  }
  
  .yellow .postcard__title:hover {
    color: #bdbb49;
  }
  
  .yellow .postcard__bar {
    background-color: #bdbb49;
  }
  
  .yellow::before {
    background-image: linear-gradient(-30deg, rgba(189, 187, 73, 0.1), transparent 50%);
  }
  
  .yellow:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(189, 187, 73, 0.1), transparent 50%);


  }





  
@media screen and (min-width: 769px) {
    .green::before {
      background-image: linear-gradient(-80deg, rgba(121, 221, 9, 0.1), transparent 50%);
    }
  
    .green:nth-child(2n)::before {
      background-image: linear-gradient(80deg, rgba(121, 221, 9, 0.1), transparent 50%);
    }
  
    .blue::before {
      background-image: linear-gradient(-80deg, rgba(0, 118, 189, 0.1), transparent 50%);
    }
  
    .blue:nth-child(2n)::before {
      background-image: linear-gradient(80deg, rgba(0, 118, 189, 0.1), transparent 50%);
    }
  
    .red::before {
      background-image: linear-gradient(-80deg, rgba(189, 21, 11, 0.1), transparent 50%);
    }
  
    .red:nth-child(2n)::before {
      background-image: linear-gradient(80deg, rgba(189, 21, 11, 0.1), transparent 50%);
    }
  
    .yellow::before {
      background-image: linear-gradient(-80deg, rgba(189, 187, 73, 0.1), transparent 50%);
    }
  
    .yellow:nth-child(2n)::before {
      background-image: linear-gradient(80deg, rgba(189, 187, 73, 0.1), transparent 50%);
    }
  }

