* {
    margin: 0;
    padding: 0em;
    box-sizing: border-box;
    font-style: normal;   
}



#custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  pointer-events: none; /* Evita que interfiera con los clics */
  transform: translate(-50%, -50%); /* Centra el cursor personalizado */
}




/* VALORES PREDETERMINADOS */








body {
    color:#0000;
    background-color:#f4f4f4;
    overflow-x: hidden;
}

h1,h2 {
    color:#000000;
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
}

p {
    font-family: "Inconsolata", monospace;
    color:#000000;
}









/* MENU NO TOCAR NO ESTA TERMINADO*/









.navbar {
    background-color: #fefe79;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
}

.container-fluid {
    padding-left: 3rem;
}

.navbar-brand {
    font-size: 0.75rem;

}

.menu-collapse {
    padding-right: 6rem;
}

.menu .nav-item .nav-link {
    padding-right: 3rem;
    padding-left: 3rem;
    font-size: 0.75rem;
}










/* HEADER */










#header_home {
    width: 100%;
    height: 80vh;
    top: calc(-100vh + 3em);
    z-index: 1;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
}

header > p {
    font-size: 3em;
    color:#000000;
    text-align: center;
}





/* VIDEO PRESENTACIÓN */





h1 {
    font-size: 10em;
    text-align: center;
}

.start {
    color:#FEFE79;
}

.end {
    color: #000000;
}

.themes {
    text-align: center;
    padding: 2em;
}

.themes h5 {
    color: #000000;
    font-size: 7em;
    font-style: italic;
}




/* MISION, VISION, VALORES */





#informacion {
    margin: 2em;
    padding: 2em 4em;
}

.welcome {
    font-size: 2em;
    text-align: center;
}

.usinformation {
    padding: 2em;
    width: 80%;
}

.myrowitems {
    align-items: center;
    padding: 2em;
    margin-bottom: 2em;
}

.myrowitems h2{
    font-size: 3em;
}

.myrowitems p {
    font-size: 1em;
}











/* CARUSEL */

  
  .carousel {
    display: flex; /* Asegura que los items estén en una fila */
  }
  
  .carousel-item {
    flex: 0 0 auto; /* Impide que los elementos se ajusten */
    width: 100vw; /* Cada imagen ocupa todo el ancho de la pantalla */
    height: auto;
    scroll-snap-align: center; /* Cada ítem se ajusta al centro */
  }
  
  .carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px; /* Bordes redondeados si lo deseas */
  }

<<<<<<< Updated upstream
  .card-body {
    border-color: none;
  }
  
=======



/*  PATROCINADORES  */
.marquee {
  width: 100%;
  border-top: 6px solid rgb(198, 59, 161);
  border-bottom: 6px solid rgb(198, 59, 161);
  overflow: hidden;
  /* background-color: rgba(255, 255, 255, 0.769); */
  color: rgb(198, 59, 161);
  
}

.marquee li {
  font-size: 40px;
}

.marquee__content {
  display: flex;
  list-style: none;
  animation: scrolling 12s linear infinite;
}

.marquee__item {
  flex-shrink: 0;
}

@keyframes scrolling {
    0% { transform: translateX(0) }
    100% { transform: translateX(-100%) }
}




  



>>>>>>> Stashed changes





/* TRABAJOS DESTACADOS */




.full-photo img, .grid-4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}


.square {
    width: 150px;
    height: 150px;
    background-color: #fe79ae;
}




/* FAQ */




#gradient {
  padding: 2em;
}

#gradient h2{
  font-size: 4em;
}




/* MEET US */




#meet_us {
    overflow-x: hidden;
}




/* FORMULARIO */

  

#applications {
    padding: 4em;
    padding-bottom: 1em;
    color: #000000;
}

#applications h3{
    font-size: 1.5em;
    font-weight: 100;
    padding-bottom: 1.5em;
}




/* MARQUEE */


#partners {
  padding-top: 6em;
  padding-bottom: 6em;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 10));
  }
}

.slider {
  background: white;
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider::before, .slider::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll 50s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slider .slide {
  height: 100px;
  width: 250px;
}





/* FOOTER NO TOCAR NO ESTA TERMINADO */





.footer {
    background-color: #FEFE79;
    color: #fff;
    padding: 2rem 0;
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.footer h4 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #000000;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 0.5rem;
}

.footer-section ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 0.9rem;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    transition: color 0.3s ease;
    color: #ff2929;
}

.footer .social-links li {
    display: flex;
    align-items: center;
}

.footer .social-links li a {
    display: flex;
    align-items: center;
}

.footer .social-links li i {
    margin-right: 0.5rem;
    font-size: 1.2rem;
}

.footer-bottom {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.9rem;
    color: #000000;
}

.footer-bottom p {
    margin: 0;
}













/* MEDIA QUERY */


