/* COMMAND + SHIFT + / para ocultar en mac */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin-left: 5vh;
}



.gallery-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    /* margin-left: 10vh; */
}

.gallery-item {
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.gallery-item img {
    display: block;
    /* width: 100%; */
    max-width: 300px;
    border-radius: 8px;
    transition: transform 0.4s ease, filter 0.4s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Texto bajo la imagen */
.gallery-text {
    margin-top: 10px;
    font-size: 1rem;
    color: #333;
}

/* Hover Effects */
.gallery-item:hover img {
    transform: scale(1.1);
    filter: brightness(0.8);
}

.gallery-item:hover {
    opacity: 1;
    z-index: 4;
}